<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <variable name="rutaLogs" value="." />

  <targets async="true">
    <target xsi:type="File"
            name="archivo"
            fileName="${var:rutaLogs}/goc-deploy-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}${onexception:inner=${newline}${exception:format=tostring}}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="archivo" />
  </rules>
</nlog>
